<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>duong.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>duong.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>duong.controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>duong.controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>duong.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>duong.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindTourController</servlet-name>
        <servlet-class>duong.controllers.FindTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTourController</servlet-name>
        <servlet-class>duong.controllers.AddTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>duong.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>duong.controllers.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourController</servlet-name>
        <servlet-class>duong.controllers.DeleteTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourController</servlet-name>
        <servlet-class>duong.controllers.EditTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourController</servlet-name>
        <servlet-class>duong.controllers.UpdateTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookedTourController</servlet-name>
        <servlet-class>duong.controllers.UpdateBookedTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTicketController</servlet-name>
        <servlet-class>duong.controllers.AddTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmTicketController</servlet-name>
        <servlet-class>duong.controllers.ConfirmTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryController</servlet-name>
        <servlet-class>duong.controllers.ShowHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCartController</servlet-name>
        <servlet-class>duong.controllers.MyCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindTourController</servlet-name>
        <url-pattern>/FindTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTourController</servlet-name>
        <url-pattern>/AddTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/SearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourController</servlet-name>
        <url-pattern>/DeleteTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourController</servlet-name>
        <url-pattern>/EditTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourController</servlet-name>
        <url-pattern>/UpdateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookedTourController</servlet-name>
        <url-pattern>/UpdateBookedTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTicketController</servlet-name>
        <url-pattern>/AddTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmTicketController</servlet-name>
        <url-pattern>/ConfirmTicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryController</servlet-name>
        <url-pattern>/ShowHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCartController</servlet-name>
        <url-pattern>/MyCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
